#root{
  --cinzaAzulado: #22223B;
  --cinzaClaro: #4a4e69e5;
  --vermelhoClaro: #FF8C64;
  --vermelhoEscuro: #FF665A;
  --amarelo: #FFF587;
}



.App {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  background: var(--cinzaAzulado);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h1{
  font-weight: 700;
  border-bottom: solid 2px var(--vermelhoEscuro);
}
