$cinzaAzulado: #22223B;
$cinzaClaro: #4a4e69e5;
$vermelhoClaro: #FF8C64;
$vermelhoEscuro: #FF665A;
$amarelo: #FFF587;
$verde: #3EB595;
$preto: #1A1A1A;

.game{
    width: 500px;
    height: 500px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff2;
    border-radius: 20px; 
    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: 40px;
        margin-right: 40px;
    }
    .nextbutton{
        font-family: 'Montserrat', sans-serif;
        margin: 10px 0px;
        height: 62px;
        width: 200px;
        color: white;
        font-size: 1.7em;
        background: #506AD4;
        border: none;
        border-radius: 5px;
        transition: 0.3s;
    
        &:hover{
            background: #506ad494;
            cursor: pointer;
        }
    }

    .nextbutton{
        font-family: 'Montserrat', sans-serif;
        margin: 10px 0px;
        height: 62px;
        width: 200px;
        color: white;
        font-size: 1.7em;
        background: #506AD4;
        border: none;
        border-radius: 5px;
        transition: 0.3s;
    
        &:hover{
            background: #506ad494;
            cursor: pointer;
        }
    }
    
    .resetbutton{
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        background: $vermelhoEscuro;
        color: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        margin: 10px;
        z-index:9999;

        &:hover{
            cursor: pointer;
            background: #be443b;
            transform: rotate(-70deg);
        }
    }
    
    .lorebutton{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background: $cinzaClaro;
        color: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        margin: 10px;
        z-index:9999;

        &:hover{
            cursor: pointer;
            background: #8389b4e5;
            transform: scale(1.2);
        }
    }
    
    .text{
        font-size: 1.5em;
        padding: 10px 0px;
        text-align: center;
    }
    .evil{
        color: $vermelhoEscuro; 
    }
    .good{
        color: $verde;
    }
}

@media only screen and (max-width: 550px){
    .game{
        width: 100vw;
        height: 80%;
        border: none;

        .resetbutton{

        }
        .header{
            margin: 0;
        }
    }
}